<button data-level-selector-button>
  <svg width="56px" height="52px" viewBox="0 0 56 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
	    <title>Playlist-play-01 2</title>
	    <desc>Created with Sketch.</desc>
	    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <g id="Playlist-play-01-2" fill="#FFFFFF" fill-rule="nonzero">
	            <g id="Playlist-play-01">
	                <rect id="XMLID_3_" x="0.5" y="15" width="44" height="7.3"></rect>
	                <rect id="XMLID_4_" x="0.5" y="0.3" width="44" height="7.3"></rect>
	                <rect id="XMLID_5_" x="0.5" y="29.7" width="29.3" height="7.3"></rect>
	                <polygon id="XMLID_6_" points="37.2 29.7 37.2 51.7 55.5 40.7"></polygon>
	            </g>
	        </g>
	    </g>
	</svg>
</button>
<ul>
  <% if (title) { %>
  <li data-title><%= title %></li>
  <% }; %>
  <li><a href="#" data-level-selector-select="-1">AUTO</a></li>
  <% for (var i = 0; i < levels.length; i++) { %>
    <li><a href="#" data-level-selector-select="<%= levels[i].id %>"><%= levels[i].label %></a></li>
  <% }; %>
</ul>
